<!doctype html>
<html>

<head>
    <title>Home page</title>
<% include ./partials/headerStudent.ejs %>
<link href="../css/teacherJumbotron.css" rel="stylesheet" type="text/css"/>



    




</head>

<body class="container">

    <header>
        <% include /partials/headIndex.ejs %>
    </header>
<h1>Nauczyciele :</h1>
    <ul>
        <% for(var i=0; i<teachers.length; i++) {%>
<div class="jumbotron">


            <div>
                <%if(teachers[i].local.avatar && teachers[i].local.avatar.data) {%>
                    <img src="data:<%= teachers[i].local.avatar.contentType %>;base64,<%= teachers[i].local.avatar.data.toString('base64') %>">
                    <%} else {%>
                        <img src="../images/defaultAvatar.png">
                        <%}%>
            </div>
            <br>
            <div class = "for">
            <b> Email: </b><%=teachers[i].local.email %>
                <br>

                <b>Miasto: </b><%=teachers[i].local.city %>
                  
<br>
              <b>Telefon: </b><%=teachers[i].local.phone %>
                
                 <br>
                   <b> <a href="/opinion/<%= teachers[i].local.email %>">Dodaj Opinię o tym nauczycielu</a></b>

                    <br>
        <br>
</div>


</div>
                    <% } %>
    </ul>

    
</body>

</html>